<!-- templates/home.html -->


{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
<h1 class="mt-4 STYLE1">欢迎来到鸳鸯商会产品展示网站</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if product[5] %}
            <img src="{{ url_for('static', filename=product[5]) }}" class="card-img-top product-img" alt="{{ product[1] }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{{ url_for('product_detail', product_id=product[0]) }}">{{ product[1] }}</a></h5>
                <p class="card-text">类别: {{ product[2]}}<br>价格: ¥{{ product[3]}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}